<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-9">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th scope="col">Initial Date</th>
              <th scope="col">Days</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
      <% @mealplans.each do |mealplan| %>
            <tr>
              <td><%= mealplan.name %></td>
              <td><%= mealplan.category %></td>
              <td><%= mealplan.initial_date %></td>
              <td><%= mealplan.days %></td>
              <td>
                  <%= link_to edit_mealplan_path(mealplan), method: :get do %>
                    <i class="fa-solid fa-pencil text-dark fs-6"></i>
                  <% end %>
                  <%= link_to mealplan_path(mealplan), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this mealplan?"} do %>
                    <i class="fa-solid fa-trash-can text-danger fs-6"></i>
                  <% end %>
              </td>
            </tr>
      <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>