<h1>Mealplans#new</h1>
<p>Find me in app/views/mealplans/new.html.erb</p>
<%= simple_form_for @mealplan do |f| %>
  <%= f.input :name %>
  <%= f.input :days %>
  <%= f.input :initial_date %>
  <%= f.button :submit %>
<% end %>
