<p></p>
<h2 class="text-center">CREATE A PERSONALIZED MEAL PLAN</h2>
<div class="container w-50 border shadow text-center mt-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 mb-3 mt-2">
        <%= simple_form_for @mealplan do |f| %>
          <%= f.input :name %>
          <div class="row">
            <div class="col-3">
              <%= f.input :days %>
            </div>
            <%# <div class="col-8"> %>
              <%#= f.input :initial_date, html5: true %>
            <%# </div> %>
            <div class="col-9">
              <%= f.input :initial_date, as: :string,
                  wrapper_html: { class: "mb-4" },
                  label_html: { class: "form-label text-secondary fw-bold" },
                  input_html: { data: { controller: "flatpickr" } } %>
            </div>
            <div class="col-12">
              <%= f.input :category, collection: Recipe::CATEGORY %>
            </div>
          </div>
          <%= f.button :submit, class:"btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<i class="fa-solid fa-plus text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
