<div class="container">
  <div class="row justify-content-center">
    <div class="col-8" data-controller="calendar">
      <div class="nine mt-3">
        <h3><%= @mealplan.name %><span>Days: <%= @mealplan.days %> - Initial Date: <%= @mealplan.initial_date %> - Category: <%= @mealplan.category %></span></h3>
        <img src="https://res.cloudinary.com/df0mr9k8g/image/upload/v1694442233/icon_wsx2m3.png" class="img-fluid mb-2" style="width: 40px; height: 40px" alt="">
        <hr>
          <div>
            <table class="table">
              <thead>
                <tr>
                <% count = 0 %>
                <% days = mealplan.days %>
                <% fecha = @mealplan.initial_date %>
                  <% @mealplan.mealplan_recipes.each do |meal| %>
                    <% if count == 0 %>
                      <th scope="col"><%= @mealplan.initial_date %></th>
                    <% else %>
                      <th scope="col"><%= fecha %></th>
                    <% end %>
                      <% count += 1 %>
                      <% fecha += 1.day %>
                  <% end %>
                </tr>
              </thead>
            </table>
          </div>
          <div>
            <table class="table">
              <tbody>
                  <tr>
                    <% @mealplan.mealplan_recipes.each do |meal| %>
                      <th scope="row"><%= meal.recipe.name %></th>
                    <% end %>
                  </tr>
              </tbody>
            </table>
          </div>
        <hr>
      </div>
      <div class="mt-5">
        <%= render "recipe_card" %>
      </div>
    </div>
  </div>
</div>

<%#= link_to "Add recipe", new_mealplan_mealplan_recipe_path(@mealplan) %>
<%= console %>
