<h4>Name: <%= @mealplan.name %></h4>
<h5 class="text-muted">Days: <%= @mealplan.days %></h5>
<h6 class="text-success">Initial Date: <%= @mealplan.initial_date %></h6>

<%= link_to "Add recipe", new_mealplan_mealplan_recipe_path(@mealplan) %>

<% @mealplan.mealplan_recipes.each do |recipe| %>
  <p><%= recipe.recipe.name %></p>
<% end %>
